In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
file_path = 'codebook.txt'
with open(file_path) as file:
    text = file.read()

In [3]:
clean = []

for item in text.split('\n'):
    new = re.sub('\.', '', item)
    new = re.sub('\. ', '', new)
#     new = re.sub('XRND', ' ', new)
    new = re.sub('YEMP,  RS', 'YEMP RS', new)
    new = new.split('  ')
    new_clean = []
    for subitem in new:
        if len(subitem) > 3:
            new_clean.append(subitem)
    out = {}
    try:
        out['ref'] = new_clean[0]
        out['year'] = new_clean[1]
        out['var'] = new_clean[2]
        out['question'] = new_clean[3]
    except:
        out['ref'] = np.nan
        out['year'] = np.nan
        out['var'] = np.nan
        out['question'] = np.nan
    clean.append(out)

In [4]:
codes = pd.DataFrame(clean)[:1366]
codes['year_new'] = codes['var'].str.extract(r'(\d{4})\s')
# codes.year = np.where(codes.year == 'XRND', 
#                      codes['year_new'], 
#                      codes['year'])
# codes.loc[codes.year == 'XRND', 'year'] = codes.year_new
# codes[(codes.year != '1999' & codes.year != 'NaN')]
codes.to_csv('codes.csv')

In [17]:
# codes[codes.var == 'RS COLLAPSED EMPLOYMENT STATUS RECODE', ]
# codes[codes.ref == 'R5529000']
# codes[codes.question == 'CV_ESR_COLLAPSED']
codes[codes.question == 'CV_ESR']

          ref  year                          var question year_new
523  R1201500  1997  RS EMPLOYMENT STATUS RECODE   CV_ESR      NaN
634  R5528900  2000  RS EMPLOYMENT STATUS RECODE   CV_ESR      NaN
964  S7545300  2006  RS EMPLOYMENT STATUS RECODE   CV_ESR      NaN